<div class="row">

  <div class="col-6 card shadow mx-auto">

    <h3 class="text-center mt-3">EDITER UNE SERIE</h3>
    <div *ngIf="msg" class="alert alert-success p-3">
      {{msg}}
    </div>
    <app-tvshow-form
      *ngIf="tvShow"
      [tvShow]="tvShow"
      submitLabel= "Editer ! !"
      (submitForm)="onSubmitEditTvShowForm($event)" >
    </app-tvshow-form>

    <div class="text-center">
      <button routerLink="/tvShows" class="btn btn-dark">
        Retournez aux séries
      </button>
    </div>




  </div>

</div>

